<!DOCTYPE html>
<html>
<body>

<h1>Add your note here</h1>

<form action="/add_note" method="post">
  <label for="date">Date:</label>
  <input type="text" id="date" name="date", placeholder="date should be dd-mm-yyyy"><br><br>
  <label for="message">Message:</label>
  <input type="text" id="message" name="message"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the
server called "action_page.php".</p>

</body>
</html>